resource_group_name = "rg-hanoitrip-sandbox"
web_app_name        = "hanoitrip"
service_plan_name   = "asp-hanoitrip-eastasia"
mysql_server_name   = "mysql-hanoitrip-bqk"
workspace_name      = "log-hanoitrip-bqk"
dashboard_name      = "dashboard-hanoitrip-bqk"
action_group_name   = "ag-hanoitrip-bqk"
autoscale_name      = "autoscale-hanoitrip-bqk"
alert_email         = "intern@example.com"
